<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Education System</display-name>
  <description>education handle system</description>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InitCache</servlet-name>
    <servlet-class>com.es.cache.LoadCache</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.es.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/ESLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentIndexServlet</servlet-name>
    <servlet-class>com.es.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentIndexServlet</servlet-name>
    <url-pattern>/EducationSystem/student_index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert_gradeServlet</servlet-name>
    <servlet-class>com.es.controller.Insert_grade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_gradeServlet</servlet-name>
    <url-pattern>/EducationSystem/Insert_grade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaseControlServlet</servlet-name>
    <servlet-class>com.es.controller.BaseControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseControlServlet</servlet-name>
    <url-pattern>/ESCommon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update_gradeServlet</servlet-name>
    <servlet-class>com.es.controller.Update_grade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_gradeServlet</servlet-name>
    <url-pattern>/EducationSystem/Update_grade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertStudentServlet</servlet-name>
    <servlet-class>com.es.controller.InsertStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentServlet</servlet-name>
    <url-pattern>/EducationSystem/InsertStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.es.controller.StudentControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/ESStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.es.controller.TeacherControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/ESTeacher</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.es.controller.AdminControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/ESAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectedResultServlet</servlet-name>
    <servlet-class>com.es.controller.SelectedCourseResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedResultServlet</servlet-name>
    <url-pattern>/SelectedResult</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
  </error-page>
</web-app>